.tags__content {
   background-color: #FF6060;
   color: white;
   border-radius: 10px;
   padding: 2px 0;
   font-size: 14px;
   font-weight: 700;
   width: 115px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   @media (max-width: 768px) {
        font-size: 10px;
        width: 84px;
   } 
}