@import "../../assets/styles/Partials/variables.scss";

.errorPage {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin: 4rem 0 8rem 0;
    align-items: center;
    @media (max-width: 768px) {
        gap: 6.1rem;
        margin: 7rem 0;
    }

    &__title {
        color: $primary_color;
        font-size: 18rem;
        @media (max-width: 768px) {
            font-size: 6rem;
        } 
    }

    &__txt {
        color: $primary_color;
        font-size: 2.25rem;
        text-align: center;
        font-weight: 500;
        @media (max-width: 768px) {
            font-size: $maintxt_size;
        } 
    }

    &__link {
        font-size: $maintxt_size;
        text-decoration: underline;
        font-weight: 500;
        @media (max-width: 768px) {
            font-size: 0.9rem;
        } 
    }
}

.mobileFormat {
    display: none; 
    @media (max-width: 768px) {
        display: inline;
    } 
}