 .host {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: right;
    justify-content:flex-end;
 }

 .host__name {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    max-width: 80px;
    @media (max-width: 768px) {
      font-size: 12px;
      max-width: 65px;
    } 
 }

 .host__photo {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
    @media (max-width: 768px) {
      width: 32px;
      height: 32px;
    } 
 }