@import "../../assets/styles/Partials/variables.scss";

.carrousel {
    position: relative;
    height: 415px;
    @media (max-width: 768px) {
        height: 255px;
    } 

    &__image {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    }

    &__arrow {
    position: absolute;
    top: 9.4rem;
    @media (max-width: 768px) {
        top: 50%;
        transform: translateY(-50%);
    } 
        &--right {
            right: 1.5rem; 
            @media (max-width: 768px) {
                right: 0.4rem;
            } 
        }
        &--left {
            left: 1.5rem;
            @media (max-width: 768px) {
                left: 0.4rem;
            } 
        }
    }

    &__arrow img {
        @media (max-width: 768px) {
            width: 0.75rem;
            height: 1.25rem;
        } 
    }

    &__slidenumber {
    position: absolute;
    color: $maintxt_color;
    font-size: $maintxt_size;
    top: 22.3rem;
    left: 50%;
    transform: translateX(-50%);
        @media (max-width: 768px) {
            display: none;
        } 
    }
    
}




