@import "../../assets/styles/Partials/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.8rem 6.25rem 3.1rem 6.25rem;
    @media (max-width: 768px) {
        margin: 1.25rem 1.25rem 1.7rem 1.25rem;
    } 

    &__logo {
        @media (max-width: 768px) {
            width: 145px;
            height: 47px;
        } 
    }
}


